.racer_table td {
  background-color: orange;

  height: 39px;
  width: 39px;
}

.racer_table #player1_strip td.active {
 background-image:url(moose.png);
 background-repeat:no-repeat;
 background-size:39px 39px

}
.racer_table #player2_strip td.active {
 background-image:url(kangaroo.png);
 background-repeat:no-repeat;
 background-size:39px 39px

}


.racer_table td.finish {
 background-image:url(kale.png);
 background-repeat:no-repeat;
 background-size:39px 39px

}

 div {
display: block;
background-color: yellow;
 }

 .hide {
	display: none;

}